includes:
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  phpVersion: 80300
  level: max
  paths:
    - ./src
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    - '#Call to an undefined method Eureka\\Component\\Validation\\Entity\\GenericEntity::.+\(\).#'
