parameters:
  phpVersion: 70400 # PHP 7.4 - Current minimal version supported
  level: max
  paths:
    - ./src
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  ignoreErrors:
    - '#Call to an undefined method Eureka\\Component\\Validation\\Entity\\GenericEntity::.+\(\).#'
